---
// src/components/astro/BackgroundGradient.astro
import '../../styles/components/background-gradient.scss';
---
<div id="scrollable-background" class="background-gradient-container">
  <div class="scroll-content-wrapper">
    <slot name="hero" />
    <slot name="about" /> 
  </div>
</div>