---
// src/components/astro/Header.astro
---
<header style="background-color: #333; color: white; padding: 1rem; text-align: center;">
    <nav>
        <a href="/" style="color: white; margin: 0 1rem;">Home</a>
        <a href="/projects" style="color: white; margin: 0 1rem;">Projects</a>
        <a href="/about" style="color: white; margin: 0 1rem;">About</a>
        <a href="/contact" style="color: white; margin: 0 1rem;">Contact</a>
    </nav>
</header>