---
// src/components/astro/Hero.astro
import '../../styles/components/hero.css';
import { Icon } from 'astro-icon/components'

const resumeFileName = "Alan_Liang_Resume_v3.pdf";
---

<section class="hero-section">
  <div class="hero-content">
    <h1 class="hero-name">Alan Liang.</h1>
    <p class="hero-tagline">
      AI/LLM Software Engineer. Crafting intelligent solutions with code and Large Language Models.
    </p>
    <a href={`/${resumeFileName}`} download class="hero-button">
      Download Resume
    </a>
    <div class="social-links">
      <a href="https://www.linkedin.com/in/alan-liang-71080121b/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn Profile">
        <Icon name="simple-icons:linkedin" /> 
      </a>
      <a href="https://github.com/alnliang" target="_blank" rel="noopener noreferrer" aria-label="GitHub Profile">
        <Icon name="simple-icons:github" />
      </a>
      <a href="mailto:aqliang@usc.edu" target="_blank" rel="noopener noreferrer" aria-label="Contact">
        <Icon name="simple-icons:gmail" />
      </a>
    </div>
  </div>
</section>

<!-- No <style> tag here anymore -->