---
// src/layouts/BaseLayout.astro
import '../styles/global.scss';

export interface Props {
    title: string;
}
const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Alan Liang's Portfolio" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="https://alnliang.github.io/portfolio/chaobla.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
</head>
<body>
    <slot name="background" />
    <main id="main-content-area"> 
        <slot /> 
    </main>
</body>
</html>